
@{
    ViewBag.Title = "Academics";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Academics.css" rel="stylesheet" />
    <script src="~/Scripts/prevent/preventback.js"></script>
    <title>Document</title>
</head>
<body>
    <br />
    <h3>About</h3><br />
                      <p>
                          The college page serves as a central hub of information and<br /> 
                          resources for students, faculty, and anyone interested in the college.
                      </p>

    <div class="academics">
        <div class="cont">
            <img src="~/Content/img/finalclgbg.jpg" />
            <p class="para">
                "UG Program" typically refers to an Undergraduate Program, which is a course of
                study that students pursue after completing their high school or secondary education. These programs are usually
                the first level of formal education beyond high school and lead to a Bachelor's degree.
            </p>
            <p id="ug">Ug Programmes</p><br /><br />

        </div>
        <div class="cont2">
            <img src="~/Content/img/pgprogram.jpg" />
            <p class="para2">
                "PG" typically refers to Postgraduate, which is a level of education that comes after
                completing an undergraduate or bachelor's degree. Postgraduate programs provide students with
                the opportunity to further specialize in their chosen field of study and often lead to advanced degrees.
            </p>
            <p id="pg">Pg Programmes</p><br /><br />
        </div>
        <div class="cont3">
            <img src="~/Content/img/professional.jpg" />
            <p class="para3">
                A "professional program" typically refers to a specialized educational program
                that prepares individuals for specific careers or professions. These programs are designed
                to provide the knowledge, skills,and training necessary to excel in a particular field or industry.
            </p>
            <p id="pro">Professional Programmes</p>
        </div>
        <br />
    </div>

   <div>
       <p>
           The college page is designed to be informative, visually appealing, and easy to navigate, ensuring that users can access the information they need quickly and efficiently."

           This description can serve as a general explanation for a college's website or web page in an interview. 
           You can customize it based on the specific features and content of the college page you want to discuss.
       </p>
   </div>

</body>
</html>

