
@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Contact.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
       
        <div class="con">
            <form>
                <div class="input-group">
                    <h2>Contact</h2>
                </div>
                <div class="input-group">
                    <label for="first">First name</label>
                    <input type="text" id="first" class="first">
                </div>
                <div class="input-group">
                    <label for="last">Last name</label>
                    <input type="text" id="last" class="last">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="email">
                </div>
                <div class="input-group">
                    <label for="ph">Phone number</label>
                    <input type="number" id="ph" class="ph">
                </div>
                <div class="input-group">
                    <label for="ms">Message</label>
                    <textarea class="ms" cols="10" rows="4"> </textarea>
                </div>
                <div class="bt">
                    <button  class="buttons"type="submit">Submit  </button>
                </div>

            </form>
        </div>
        
    </div>

</body>
</html>

